

// Directions
$directions: lt rt tp bm ver hor all;

// Min and max for dimensions for margins and paddings 
$min: 1;
$max: 50;
$step: 1;

// Margins
@each $dir in $directions {
	@for $i from $min through $max {
		@if $dir == all {
			.m-#{$i*1} {
				margin: $i * 1px;
			}
		} else {
			.m-#{$dir}-#{$i*1} {
				@if $dir == lt {
					margin-left: $i * 1px;
				} @else if $dir == rt {
					margin-right: $i * 1px;
				} @else if $dir == tp {
					margin-top: $i * 1px;
				} @else if $dir == bm {
					margin-bottom: $i * 1px;
				} @else if $dir == ver {
					margin-bottom: $i * 1px;
					margin-top: $i * 1px;
				} @else if $dir == hor {
					margin-left: $i * 1px;
					margin-right: $i * 1px;
				}
			}
		}
	}
}

// Paddings
@each $dir in $directions {
	@for $i from  through 30 {
		@if $dir == all {
			.p-#{$i*1} {
				padding: $i * 1px;
			}
		} else {
			.p-#{$dir}-#{$i*1} {
				@if $dir == lt {
					padding-left: $i * 1px;
				} @else if $dir == rt {
					padding-right: $i * 1px;
				} @else if $dir == tp {
					padding-top: $i * 1px;
				} @else if $dir == bm {
					padding-bottom: $i * 1px;
				} @else if $dir == ver {
					padding-bottom: $i * 1px;
					padding-top: $i * 1px;
				} @else if $dir == hor {
					padding-left: $i * 1px;
					padding-right: $i * 1px;
				}
			}
		}
	}
}

// Positions
.pa {
	position: absolute;
}
.pr {
	position: relative;
}
.pf {
	position: fixed;
}
.ps {
	position: sticky;
}

// Floats 
.fl {
	float: left;
}
.fr {
	float: right;
}

// Clears
.cb {
	clear: both;
}
.cl {
	clear: left;
}
.cr {
	clear: right;
}

@for $i from 8 through 26 {

	// Font sizes using relative ems from standard browser font size of 16px
	.txt-#{$i} {
		font-size: $i / 16em;
	}

	// Absolut font sizes
	.txt-a-#{$i} {
		font-size: $i * 1px;
	}
}

// Overflow hidden for wrapping elements in a wrapper
.ov-hid {
	overflow: hidden;
}










