// 
// Miscellaneous
//
// * Positions 
// * Displays
// * Floats
// * Clears
// * Overflow hidden
//

// Positions
.p-a {
	position: absolute;
}
.p-r {
	position: relative;
}
.p-f {
	position: fixed;
}
.p-s {
	position: sticky; // New HTML-5 feature
}

// Displays
.d-n {
	display: none;
}
.d-bl {
	display: block;
}
.d-in {
	display: inline;
}
.d-in-bl {
	display: inline-block;
}

// Floats 
.fl-lt {
	float: left;
}
.fl-rt {
	float: right;
}

// Clears
.cl-b {
	clear: both;
}
.cl-lt {
	clear: left;
}
.cl-rt {
	clear: right;
}

// Overflow hidden for wrapping elements in a wrapper
.ov-hid {
	overflow: hidden;
}
