// 
// Paddings
//

// Directions
$directions: lt rt tp bm ver hor all;

// Min and max for dimensions for margins and paddings 
$min-pm: 1 !default;
$max-pm: 50 !default;
$step-pm: 1 !default;

// Paddings
@each $dir in $directions {
	
	// Set minimum
	$i: $min-pm;

	@while $i < $max-pm {
		@if $dir == all {
			.p-#{$i*1} {
				padding: $i * 1px;
			}
		} 
		@else {
			.p-#{$dir}-#{$i*1} {
				@if $dir == lt {
					padding-left: $i * 1px;
				} @else if $dir == rt {
					padding-right: $i * 1px;
				} @else if $dir == tp {
					padding-top: $i * 1px;
				} @else if $dir == bm {
					padding-bottom: $i * 1px;
				} @else if $dir == ver {
					padding-bottom: $i * 1px;
					padding-top: $i * 1px;
				} @else if $dir == hor {
					padding-left: $i * 1px;
					padding-right: $i * 1px;
				}
			}
		}

		// Increase with step
		$i: $i + $step-pm;
	}
}