// 
// Fonts
//
// * Relative font sizes
// * Absolute font sizes
//

// Font settings
$min-fs: 8 !default;
$max-fs: 32 !default;

// Relative font sizes
@for $i from $min-fs through $max-fs {
	.fs-#{$i} {
		font-size: $i / 16em;
	}
}

// Absolut font sizes
@for $i from $min-fs through $max-fs {
	.fs-a-#{$i} {
		font-size: $i * 1px;
	}
}

// Text aligns
.txt-al-lt {
	text-align: left;
}
.txt-al-c {
	text-align: center;
}
.txt-al-rt {
	text-align: right;
}